* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
body {
    background: url(images/bg-hero-desktop.svg);
    background-size: contain;
    font-size: 18px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400, 700;
}

.btn:link,
.btn {
    position: relative;
    top: 0;
    left: 0;
    padding: 13px 70px;
    border-radius: 35px;
}
.btn-try{
    position: absolute;
    left: 80%;
    top: 5%;
    padding: 13px 70px;
    border-radius: 35px;
}
.maintitle{
    margin-left: 3%;
    position: relative;
}
.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    width: 50%;
    height: 50%;
    padding-top: 5%;
    margin-right: 3%;
   }
.rightmediapic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    width: 40%;
    height: 40%;
    padding-top: 5%;
}
.picsize{
    width:100%;
    height: 100%;
    padding-left: 2%;
}
.media { 
    position: relative;
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    background-color: #fff;
    max-width: 50%;
}

.media {
    left:25%;
    top:25%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "img content";
    margin-bottom: 3em;
}
.media2 {
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    max-width: 50%;
}
.media2{
    left:25%;
    top:25%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-bottom: 1em;
}
.media.flipped {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "content img";
}

.media .image {
    grid-area: img;
    background-color: #fff;
}

.media .text {
    grid-area: content;
    padding: 10px;
    
}
  
.btn-started{
    position: relative;
    padding: 30px 80px;
    border-radius: 50px;
}
.btn-white{
    background:#FFF;
    color:#00252E;
}
.btn-pink{
    background: #FF52BF;
    color: #fff;
}
.site-footer{
    position: relative;
    background-color: #00252E;
    color: #EBFBFF;
}